@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}
/*farver*/
$green:#2a9614;
$greenlight:#459e3b;
$baggrund:#fffdf2;
$menufarve: #fdfadd;
/*END farver*/

body{
  background-color: $baggrund;
}
html{
	font-size: 10px;
	font-family: 'montserrat', sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p{
  color: black;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.section-title{
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
.section-title span{
  color: $green;
}
.cta{
  display: block;
  padding: 10px 30px;
  color: $greenlight;
  background-color: transparent;
  border: 2px solid $greenlight;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 20px auto;
  transition: .3s ease;
  transition-property: background-color, color;
  text-align: center;
  border-radius: 10px;
}
.cta:hover{
  color: $green;
  background-color: $greenlight;
}
.brand h1{
  font-size: 3rem;
  text-transform: uppercase;
}
.brand h1 span{
  color: $green;
}
/* Header Section */
.header{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: 8vh;
  background-color: $baggrund;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
.nav-list ul{
  list-style: none;
  position: absolute;
  background-color: $baggrund;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
.nav-list ul.active{
  left: 0;
}

.nav-list ul a{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: $green;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
.nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: $menufarve;
  font-size: 10rem;
  letter-spacing: 50px;
  display: block;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
.nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
.nav-list ul li:hover a{
  text-decoration: underline;
}

.hamburger{
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid $green;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}
.hamburger .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: $green;
  z-index: -1;
  transform: scale(.8);
}
.hamburger .bar::after,
.hamburger .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: $green;
  transition: .3s ease;
  transition-property: top, bottom;
}
.hamburger .bar::after{
  top: 8px;
}
.hamburger .bar::before{
  bottom: 8px;
}
.hamburger.active .bar::before{
  bottom: 0;
}
.hamburger.active .bar::after{
  top: 0;
}
/* END header Section */

/* Hero Section */
.hero{
  background-image:url(../images/HeroBGTest.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  max-width: 100%;

}
.hero h1{
  display: block;
  width: fit-content;
  font-size: 8rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1.3s;
}
.hero h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: white;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
  border-radius: 10px;
}
/* Hero Section End */

/* Kultur */
.kultur{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

.kultur-top p{
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}
.kultur-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.kultur-item{
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../images/box.png);
  background-size: cover;
  margin: 10px 5%;
  }
.kultur-bottom .icon{
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}
.kultur-item h2{
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* Kultur End */


/* Frøer vs Tudser */
.frogtoad{
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.frogtoad-header h1{
  margin-bottom: 50px;
  }
.frogtoad-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frogtoad-item{
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.frogtoad-info{
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: $green;
}
.frogtoad-info h1{
  font-size: 3rem;
  font-weight: 500;
}
.frogtoad-info h2{
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
}
.frogtoad-img{
  flex-basis: 50%;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.frogtoad-img img{
  transition: .3s ease transform;
}
.frogtoad-item:hover .frogtoad-img img{
  transform: scale(1.1);
}
.readmore{
  margin-bottom: 20px;
}
/* Frøer vs Tudser End */


/*Fakta*/
.fakta{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
.col-left{
  width: 250px;
  height: 360px;
  }
.col-right{
  width: 100%;
  }
.frogcon{
  display: inline-block;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
}
.col-right p{
  margin-bottom: 20px;
}
.col-right .cta{
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 10px;
}
.col-left .fakta-img{
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid #fffdf2;
}
.col-left .fakta-img::after{
  content: '';
  position: absolute;
  left: -33px;
  top: 40px;
  height: 98%;
  width: 98%;
  border: 7px solid $green;
  z-index: -1;
}
.cta-bottom{
  display: block;
  padding: 10px 30px;
  color: $greenlight;
  background-color: transparent;
  border: 2px solid $greenlight;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 20px auto;
  transition: .3s ease;
  transition-property: background-color, color;
  text-align: center;
  border-radius: 10px;
  width: 150px;
}
.cta-bottom:hover{
  color: $green;
  background-color: $greenlight;
}
/*Fakta End*/


/*Footer*/
.footer{
  background-image: url(../images/box.png);
  background-size: cover;
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  max-width: 100%;
}
.footer h2{
  color: $green;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-icon{
  display: flex;
  margin-bottom: 30px;
}

.footer-item{
  height: 30px;
  margin: 0 5px;
}
.footer-item img{
  filter: grayscale(1);
  transition: .3s filter;
}
.footer-item:hover img{
  filter: grayscale(0);
}
.footer p{
  color: white;
  font-size: 1.3rem;
}
/*END Footer*/


.sidsteknap{
  background-color: $green;
  border-radius: 5px;
}



/* Keyframes */
@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100%{
    color: white;
  }
}
/* Keyframes End */

/*Media query for tablet*/
@media only screen and (min-width: 768px){
  .cta{
    font-size: 2.5rem;
    padding: 10px 40px;
  }
  .section-title{
    font-size: 5rem;
  }
  /*Hero*/
  .hero h1{
    font-size: 10rem;
  }
  /*END Hero*/

  /*Kultur*/
  .kultur .kultur-bottom .kultur-item{
  flex-basis: 45%;
    margin: 1.5%;
    min-height: 40vh;
  }
  /*End Kultur*/

  /*Frogtoad*/
  .frogtoad-item{
    flex-basis: 600px;
    margin: 0 ;
    width: 95%;
    flex-direction: row;
  }
   .frogtoad-box .frogtoad-info{
    height: 100%;
  }
  .frogtoad-box .frogtoad-img{
    height: 100%;
  }
  /*End Frogtoad*/

  /*Fakta*/
  .fakta{
    flex-direction: row;
  }
  .col-left{
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
.fakta .col-left .fakta-img::after{
left: -45px;
  top: 45px;
  height: 98%;
  width: 98%;
  border: 10px solid $green;
}
.col-right{
  text-align: left;
  padding: 30px;
}
  .col-right h1{
    text-align: left;
  }
   /*END Fakta*/
}
/*END Media query for tablet*/


/*Media query for Computer*/
@media only screen and (min-width: 1200px){
.hamburger{
  display: none;
}
.nav-list ul{
  position: initial;
  display: block;
  height: auto;
  width: fit-content;
  background-color: transparent;
}
  .nav-list ul li{
    display: inline-block;
  }
  .nav-list ul li a{
    font-size: 1.8rem;
  }

  .nav-list ul a:after{
    display: none;
  }
}


/*END Media query for Computer*/